<%-  include('partials/header') -%>

    <main class="main-sobremi">
        <h1>Sobre mí</h1>
        <div class="div-sobremi">
            <img class="img-sobremi" src="css/images/paisajes-de-yosemite-46208063.webp" alt="Paisaje de Yosemite">
            <p class="p-sobremi"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet congue mauris, sed porttitor magna convallis eu. Vestibulum eleifend porttitor sapien et pretium. Donec vitae mollis odio. Suspendisse gravida tempor venenatis. Mauris sem libero, mollis et elit vitae, ullamcorper suscipit nibh. Suspendisse purus ligula, consequat sagittis dignissim ut, malesuada quis risus. Integer ac ex vitae libero dictum mollis. Nam eu velit eget diam rutrum sagittis id vitae ante. In ultricies et ex non mollis. Sed lobortis condimentum condimentum. Donec vel sapien a mauris auctor rhoncus vitae a erat. In ullamcorper eros vel volutpat tristique. Aenean quam elit, rutrum eu libero at, auctor sagittis dui.
            </p>
        </div>
    </main>

<%-  include('partials/footer') -%>    
    