<footer class="footer"> 
        <div class="iconos">
            <i class="fa-solid fa-user"><p class="p-icono">Caro Ortega</p></i>
            <i class="fa-solid fa-envelope"><p class="p-icono">hola@example.com</p></i>
            <i class="fa-solid fa-phone"><p class="p-icono">11-6666-5555</p></i> 
        </div>
        <div class="power">
            <p class="power__p">Powered by Carol &hearts;  -  &#174 2023</p> 
        </div>                   
    </footer>   

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4cbc0e982a.js" crossorigin="anonymous"></script>
<script src="js/script.js"></script> 

</body>
</html>